/* .primary-button {
  text-align: center;
  background: #FFEB3B;
  border: 1px solid #FFEB3B;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  /* transition: 0.3s ease background; */
  /* width: 60vw;  */
 


  /* .primary-button a {
  font-weight: 600;
  text-decoration: none;
  color: #1D1D1D; */ 