.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 70px;
  right: 20px;
  font-size:18px;
  background-color: black;
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
 
}
.fa-plus {
  color: white;
}
.my-float {
  margin-top: 22px;
}

.navIcon {
 
  height: 60px;
  font-size:28px;
  text-align: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 90%;
 
  
}

#menu {
  padding: 0;
  margin: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}


#menu li {
  width: 25px;
}

.fa-trash {
  font-size:22px;
  cursor: pointer;
 
}

.fa-pencil {
  font-size:20px;
  text-decoration: none;
 color: rgb(22, 20, 20);
  
}

.background {
align-items: center;
width: 100%;

}

.loginBtn {
  width:50%;
  margin-top: 60px;
  margin-bottom: 20px;
}
.signupBtn {
  width:50%;
  margin-bottom: 20px;
}

h2{
  text-align: center;
}

.logoAppDetails {
   width: 90%;
}

.logoApp {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 60px;


  
}


.signInButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}

h3{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4{
  margin-top: 40px;
  margin-bottom: 50px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.table{
  width:100%;
  /* height: 50%;
  margin-bottom: 5px; */
}

.logoutBtn{
  display:flex;
  justify-content: center;
  

}

.logout {
  
  margin-top: 50px;
  width: 50%;
 
  
}
